{
	"env": {
		"es6": true,
		"browser": false
	 },
	"rules": {
		"strict": ["off"],
		"indent": ["error", 2],
		"comma-dangle": ["error", "never"],
		"semi": ["error", "never"],
		"no-underscore-dangle": "off",
		"no-constant-condition": "off",
		"no-use-before-define": "off",
		"max-len": ["error", 120, { "ignoreComments": true }],
		"no-new": "warn",
		"prefer-arrow-callback": "warn"
	}
}